
<nav class="navbar teal lighten-1 z-depth-1" ng-show="$ctrl.userId">
    <div class="nav-wrapper">
      <a  href="/#!/user/{{$ctrl.userId}}" ><img class="logo brand-logo tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home" src="http://i.imgur.com/R9lRYqc.png" ></a>
      <a href="/#!/user/{{$ctrl.id}}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right ">
        <li><a ui-sref="userApplications({id:$ctrl.userId})">Apps</a></li>
        <li><a ui-sref="userEdit({id:$ctrl.userId})">Settings</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      <li><a ui-sref="userApplications({id:$ctrl.userId})">Apps</a></li>
        <li><a ui-sref="userEdit({id:$ctrl.userId})">Settings</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
    <div class="col-md-4">
        <img src="{{$ctrl.current.logo}}" class="app-image z-depth-1 hoverable img-align" alt="{{$ctrl.current.name}}">
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="col-md-8">
                <h2 class="right">{{$ctrl.current.name}}</h2>
            </div>
            <div class="col-md-4">
                <form ng-if="$ctrl.userId" ng-submit="$ctrl.addFav()" class="right">
            <!-- <input type="submit" value="Fav" class="btn" > -->
                    <button type="submit" class="favBtn"><i class="material-icons star-size">stars</i></button>
                </form>
            </div>
        </div>
        <div class="col-md-12 appDesc">
            <p>{{$ctrl.current.description}}</p>
        </div>
        <div class="col-md-12 center app-info">
            <a href="{{$ctrl.current.downloadUrl}}" download="{{$ctrl.current.name}}" class="btn">Download <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
        </div>
    </div>

</div>






