<div class="ApplicationShow">
    <a ui-sref="applications({id: $ctrl.userId})" ng-show="$ctrl.userId">Back</a>
</div>
<div class="container">
    <div class="col-md-4">
        <img src="{{$ctrl.current.logo}}" class="app-image z-depth-1 hoverable img-align" alt="{{$ctrl.current.name}}">
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="col-md-8">
                <h2 class="right">{{$ctrl.current.name}}</h2>
            </div>
            <div class="col-md-4">
                <form ng-if="$ctrl.userId" ng-submit="$ctrl.addFav()" class="right">
                    <button type="submit" class="favBtn"><i class="material-icons star-size">stars</i></button>
                </form>
            </div>
        </div>
        <div class="col-md-12 appDesc">
            <p>{{$ctrl.current.description}}</p>
        </div>
        <div class="col-md-12 center app-info">
            <a href="{{$ctrl.current.downloadUrl}}" download="{{$ctrl.current.name}}" class="btn">Download <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
