<div class="about container">
    <div class="summary">
        <h1>About GoldFish</h1>
        <p>Goldfish is an app store just for web developers. Having to search for the tools you need to build websites and applications can be time consuming. Goldfish is your one stop shop for resources, applications, and direct links to downloading the software that you need.

        Save your applications and have them readily available for reference. If you get a new computer, no need to stress about finding links to your favorite software. Just go to your favorites page and everything will be available and ready for you to download in a few easy steps.
        </p>
    </div>
    <hr>
    <h3 class="team-title center grey lighten-2">Meet our development team</h3>
    <hr>
    <div class="our-team">
            <div class="container flexual">
                <div class="photo-container col-md-4" >
                    <img class="pic" src="http://i.imgur.com/8xO4kfZ.png">
                </div>
                <div class="bio col-md-8">
                    <p class="paragraph">
                    <span class="bioName">Ryan Wilkinson</span><br>
                    <span class="bioDescription">Ryan is in the WDI-9 course at General Assembly. He regularly greets colleagues with "asaah, dude", loves ruby on rails, and loves to take baths filled with ruby gems.</span> </p>
                </div>
            </div>
        <hr>
            <div class="container flexual">
                <div class="photo-container col-md-4">
                    <img class="pic" src="http://i.imgur.com/BS4pbot.png">
                </div>
                <div class="bio col-md-8">
                    <p class="paragraph">
                    <span class="bioName">Lanchana Gupta</span>
                    <br>
                    <span class="bioDescription">Lanchana is in the WDI-9 course at General Assembly. She appreciates when people pronounce her name correctly, drives in the HOV lane during pair programming, and enjoys both front and and back end programming.</span></p>
                </div>
            </div>
        <hr>
            <div class="container flexual">
                <div class="photo-container col-md-4">
                    <img class="pic" src="http://i.imgur.com/reSmj2G.png">
                </div>
                <div class="bio col-md-8">
                    <p class="paragraph">
                    <span class="bioName">Rush Myers</span>
                    <br>
                    <span class="bioDescription">Rush is in the WDI-9 course at General Assembly. He likes to sing Al Green covers, long walks on the beltline, and debugging git errors.</span></p>
                </div>
            </div>
        <hr>
            <div class="container flexual">
                <div class="photo-container col-md-4">
                    <img class="pic" src="http://i.imgur.com/WL327p5.png">
                </div>
                <div class="bio col-md-8">
                    <p class="paragraph">
                    <span class="bioName">Felicia Garcia</span>
                    <br>
                    <span class="bioDescription">Felicia is in the WDI-9 course at General Assembly. She enjoys perfecting spacing in her code, eating goldfish snacks, and advocating for cheese-its..</span></p>
                </div>
            </div>
    </div>
</div>






