<div class="about">
    <div class="summary">
        <h1>About GoldFish</h1>
        <p>Goldfish is an app store just for web developers. Having to search for the tools you need to build websites and applications can be time consuming. Goldfish is your one stop shop for resources, applications, and direct links to downloading the software that you need.

        Save your applications and have them readily available for reference. If you get a new computer, no need to stress about finding links to your favorite software. Just go to your favorites page and everything will be available and ready for you to download in a few easy steps.
        </p>
    </div>
    <hr>
    <h3 class="team-title center grey lighten-2">Meet our development team</h3>
    <hr>
    <div class="our-team">
    <div class="row">
        <div class="col s12 m3">
            <div class="photo-container">
                <img src="http://i.imgur.com/8xO4kfZ.png">
            </div>
        </div>
        <div class="col s12 m9">
            <div class="bio">
                <h4>Ryan Wilkinson</h4>
                <p>Interesting things about Ryan</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="photo-container">
                <img src="http://i.imgur.com/BS4pbot.png">
            </div>
        </div>
        <div class="col s12 m9">
            <div class="bio">
                <h4>Lanchana Gupta</h4>
                <p>Interesting things about Lanchana</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="photo-container">
                <img src="http://i.imgur.com/reSmj2G.png">
            </div>
        </div>
        <div class="col s12 m9">
            <div class="bio">
                <h4>Rush Myers</h4>
                <p>Interesting things about Rush</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="photo-container">
                <img src="http://i.imgur.com/WL327p5.png">
            </div>
        </div>
        <div class="col s12 m9">
            <div class="bio">
                <h4>Felicia Garcia</h4>
                <p>Interesting things about Felicia</p>
            </div>
        </div>
    </div>
</div>