<div class="about">
	<div>
		<h1>About GoldFish</h1>
		<p>Goldfish is an app store just for web developers. Having to search for the tools you need to build websites and applications can be time consuming. Goldfish is your one stop shop for resources, applications, and direct links to downloading the software that you need.

		Save your applications and have them readily available for reference. If you get a new computer, no need to stress about finding links to your favorite software. Just go to your favorites page and everything will be available and ready for you to download in a few easy steps.
		</p>
	</div>
	<div>
		<h2>Meet our development team</h2>
		<h3>
			<ul>
				<li>Ryan</li>
				<li>Lanchana</li>
				<li>Rush</li>
				<li>Felicia</li>
			</ul>
		</h3>
	</div>
</div>