<div class="container">
	<div class="right">
		<input type="text inputlg" class="glyphicon glyphicon-search" aria-hidden="true" ng-model="searchBox" id="inputlg" placeholder="Search">
	</div>
	<div class="col-md-12" ng-repeat="company in $ctrl.companies | filter:searchBox">
		<h2 class="text-uppercase">{{company.name}}</h2>
			<div ng-repeat="app in company.applications | filter:searchBox" class="col-md-4">
				<div class="card z-depth-1 hoverable">
					<div class="card-image">
						<img src="{{app.logo}}" class="customImg" alt="{{favapp.name}}">
					</div>
					<div class="card-action center">
						<a ui-sref="applicationShow({companyId: company._id, appId: app._id, userId: $ctrl.userId})">{{app.name}}</a>
					</div>
				</div>
			</div>
	</div>
</div>