<div class="col-md-6 login z-depth-4 hoverable">
	<form ng-submit='$ctrl.editUser($ctrl.current)'>
    	<div class="row">
    		<div class="input-field col s12">
          		<input ng-model='$ctrl.current.name' id="first_name" type="text" class="validate">
          		<label for="first_name" ng-hide="$ctrl.current.name">User Name</label>
        	</div>
        </div>
        <div class="row">
	        <div class="input-field col s12">
	        	<input id="email" type="email" ng-model='$ctrl.current.email' class="validate">
	        	<label for="email" ng-hide="$ctrl.current.email">Email</label>
	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12">
	        	<input id="password" type="text" ng-model='$ctrl.current.password' class="validate">
	        	<label for="password" >Password</label>
	        </div>
      	</div>
        <div class="updateBtn">
      		<input type="submit" value="update" class="left btn ">
      		<button ng-click='$ctrl.deleteUser($ctrl.current)' class="delBtn right"><i class="material-icons ">delete</i></button>
        </div>
  	</form>
</div>