<nav class="navbar teal lighten-1 z-depth-1">
    <div class="nav-wrapper">
      <a  href="/#!/user/{{$ctrl.current._id}}" ><img class="logo brand-logo tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home" src="http://i.imgur.com/R9lRYqc.png" ></a>
      <a href="/#!/user/{{$ctrl.id}}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right ">

        <li><a ui-sref="userApplications({id:$ctrl.current._id})">Apps</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="userApplications({id:$ctrl.id})">Apps</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
      </ul>
    </div>
  </nav>


<div class="col-md-6 login z-depth-4 hoverable">
	<form ng-submit='$ctrl.editUser($ctrl.current)'>
    	<div class="row">
    		<div class="input-field col s12">
          		<input ng-model='$ctrl.current.name' id="first_name" type="text" class="validate">
          		<label for="first_name" ng-hide="$ctrl.current.name">User Name</label>
        	</div>
        </div>
        <div class="row">
	        <div class="input-field col s12">
	        	<input id="email" type="email" ng-model='$ctrl.current.email' class="validate">
	        	<label for="email" ng-hide="$ctrl.current.email">Email</label>
	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12">
	        	<input id="password" type="text" ng-model='$ctrl.current.password' class="validate">
	        	<label for="password" >Password</label>
	        </div>
      	</div>
        <div class="updateBtn">
      		<input type="submit" value="update" class="left btn ">
      		<button ng-click='$ctrl.deleteUser($ctrl.current)' class="delBtn right"><i class="material-icons ">delete</i></button>
        </div>
  	</form>
</div>