
<nav class="navbar teal lighten-1 z-depth-1">
    <div class="nav-wrapper">
      <a  href="/#!/user/{{$ctrl.id}}" ><img class="logo brand-logo tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home" src="http://i.imgur.com/R9lRYqc.png" ></a>
      <a href="/#!/user/{{$ctrl.id}}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right ">

        <li><a ui-sref="userApplications({id:$ctrl.id})">Apps</a></li>
        <li><a ui-sref="userEdit({id:$ctrl.userId})">Settings</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
        <!-- <li><a ui-sref="home" ng-if="'user' | includedByState">LogOut</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="userApplications({id:$ctrl.id})">Apps</a></li>
        <li><a ui-sref="userEdit({id:$ctrl.userId})">Settings</a></li>
        <li><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<h2 class="center" class="appPage">Your Favorite Apps!</h2>
<p class="center" ng-hide="$ctrl.favApps.length > 0">Oh no! You don't have any favorites. Go to the Applications page to add some!</p>
<div class="col-md-12 col-sm-12 col-xs-12 app-border" ng-repeat="favapp in $ctrl.favApps">
    <div class="col-md-4 col-sm-12 col-xs-12 responsive-img center">
        <img src="{{favapp.logo}}" class="app-image z-depth-1 hoverable img-align" alt="{{$ctrl.current.name}}">
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 center">
                <h2 class="">{{favapp.name}}</h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 appDesc">
            <p>{{favapp.description}}</p>
        </div>
        <div class="col-md-12 clo-sm-12 col-xs-12 app-info text-center">

          <div class="col-md-6 col-sm-6 col-xm-12 text-center">

            <a href="{{favapp.downloadUrl}}" download="{{favapp.downloadUrl}}" class="btn waves-effect waves-light ">Download <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
              <form ng-submit="$ctrl.userFavDelete($ctrl.id, favapp.favId)">
                <button type="submit" class="delBtn"><i class="material-icons">delete</i></button>
            </form>
            </div>
        </div>
    </div>
</div>


