

<!-- <pre>{{ $ctrl | json }}</pre> -->
<nav>
<a></a><a ng-click="$ctrl.deleteSession()" ui-sref="home">logout</a> | <a ui-sref="applications({id:$ctrl.id})">application</a></nav>
<h1>user Contoller</h1>
<!-- {{$ctrl.id}} -->
<!-- {{$rootScope.id}} -->
<ul>
    <li ng-repeat="favapp in $ctrl.favApps">
        <ul>
            <li>Name: {{favapp.name}}</li>
            <li>Logo: {{favapp.logo}}</li>
            <li>Description: {{favapp.description}}</li>
            <li>DownloadUrl: {{favapp.downloadUrl}}</li>
        </ul>
        <form ng-submit="$ctrl.userFavDelete($ctrl.id, favapp.favId)">
            <input type="submit" value="Delete">

        </form>
        <hr>
    </li>
</ul>

<a ui-sref="userEdit({id:$ctrl.userId})">edit profile</a>