<div class ="home center">
	<h2>Welcome to Goldfish</h2>
    <div class="Goldfish">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="http://i.imgur.com/R9lRYqc.png">
            </a>
            <a class="carousel-item" href="#two!"><img src="http://i.imgur.com/0crNTZ1.png">
            </a>
            <a class="carousel-item" href="#three!"><img src="http://i.imgur.com/ungliig.png">
            </a>
            <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Android_Studio_icon.svg/2000px-Android_Studio_icon.svg.png">
            </a>
            <a class="carousel-item" href="#five!"><img src="http://i.imgur.com/acot7o6.png">
            </a>
        </div>
     </div>
</div>